{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">

    <div class="row">

        <!-- LEFT SIDE -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="blog-title">{{ single_blog.title }}</h1>

            <!-- Meta -->
            <p class="blog-meta">
                {{ single_blog.created_at }} | {{ single_blog.author }}
            </p>

            <!-- Category -->
            <p><strong>Category:</strong> {{ single_blog.category }}</p>

            <!-- Image -->
            <img src="{{ single_blog.featured_image.url }}" alt="Blog Image" class="blog-image mb-3">

            <!-- Short Description -->
            <p>
                {{ single_blog.short_description | truncatewords:30 }}
            </p>

        </div>

        <!-- RIGHT SIDE -->
        <div class="col-lg-4">

            <!-- Follow Us -->

            {% if social %}
            <div class="sidebar-box">
                <h5>Follow Us</h5>
                {% for i in social %}
                <li>
                    <a href="{{ i.link }}" target="_blank">{{ i.plateform }}</a><br>
                </li>
                {% endfor %}
            </div>
            {% endif %}

        </div>

    </div>

    <!-- FULL BLOG CONTENT -->
    <div class="row full-content">
        <div>
            {{ single_blog.blog_body|safe }}
        </div>
    </div>

</div>
{% endblock %}